#root {
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

Link:hover {
  text-decoration: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}